* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

body {
    /* background: #fde4ba; */
    background-image: url("../images/backgroung_page.jpg");
    background-size: 100%;
}

#game-board {
    margin: 0;
    padding: 7px 7px 0 7px;
    border: 20px solid #ffd691;
}

.nav-bar {
    display: flex;
    background-color: white;
    margin-bottom: 50px;
}

.button {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 80%;
}

.how-to-play {
    display: flex;
    justify-content: center;
}

.how-to-play img {
    width: 60%;
}

#game-over {
    display: none;
    position: fixed;
    width: 800px;
    height: 600px;
}

#game-over img {
    width: 800px;
    height: 600px;
}

#win-game {
    display: none;
    position: fixed;
    width: 800px;
    height: 600px;
}

#win-game img {
    width: 800px;
    height: 600px;
}